.main {
  position: relative;
  padding: $indent-default 0;
  margin: 0 auto;
  max-width: 1000px;

  .wrapper {
    position: relative;
    padding: 60px $indent-default;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}